/*botones start*/
.button{
	background: var(--color-button);
	border: 2px solid var(--color-first);
	border-radius: 6px;
  padding: 5px 8px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--color-light); 
}

/*botones end*/
/*social*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing        : 265ms;
@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

.social-container {
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;
    }

    i {
        color: #fff;
        position: absolute;
        top: 12px;
        left: 12px;
        transition: all $timing ease-out;
    }

    a {
        display: inline-block;
      
        &:before {
            @include transformScale();
            content: " ";
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, var(--iconColor), var(--accent));
            transition: all $timing ease-out;
        }
        
        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }
        
        &:hover i {
            @include transformScale(2.2);
            color: var(--iconColor);
            background: -webkit-linear-gradient(45deg, var(--iconColor), var(--accent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }
  
    a.social-square {
      
        &:before {
            background: linear-gradient(45deg, var(--grape), var(--orchid));
            border-radius: 10%;
        }
      
        &:hover:before {
            transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -webkit-transform: scale(-180deg);
            border-radius: 100%;
        }
        
        &:hover i {
            @include transformScale(1.6);
            color: #fff;
            transform: scale(1.6);
            -webkit-text-fill-color: #fff;
        }
    }
}


//button radial gradient

$baby-blue: #1a1b1d;

.op-submit{
  text-align: center;
}


.bubbly-button{
  margin-bottom: 5px;
  // width: 50%;
  display: inline-block;
  font-size: 1em;
  padding: 0.5em 0.5em;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-button);
  color: var(--color-text-btn);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px var(--btn-color-opaque);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: 30;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, var(--color-button) 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, var(--color-button) 20%, transparent 30%),
    radial-gradient(circle, var(--color-button) 20%, transparent 20%), 
    radial-gradient(circle, var(--color-button) 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, var(--color-button) 15%, transparent 20%),
    radial-gradient(circle, var(--color-button) 20%, transparent 20%),
    radial-gradient(circle, var(--color-button) 20%, transparent 20%),
    radial-gradient(circle, var(--color-button) 20%, transparent 20%),
    radial-gradient(circle, var(--color-button) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, var(--color-button) 20%, transparent 20%), 
    radial-gradient(circle, var(--color-button) 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, var(--color-button) 15%, transparent 20%),
    radial-gradient(circle, var(--color-button) 20%, transparent 20%),
    radial-gradient(circle, var(--color-button) 20%, transparent 20%),
    radial-gradient(circle, var(--color-button) 20%, transparent 20%),
    radial-gradient(circle, var(--color-button) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: var(--color-button-dark);
    box-shadow: 0 2px 25px var(--btn-color-opaque);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}


.btn-light{
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    
    background: var(--color);
    i{
      color: var(--color-icon);
    }
    
    p{
      color: var(-color-text);
      display: inline;
    }
    &:hover{
      background: var(--color-hover);
    }
  
}