// @import "compass/css3";

//vars


$pi:3.14;

//config
$menu-items: 6;
$open-distance: 105px;
$opening-angle: $pi*2;


%goo{
  filter:url('#shadowed-goo');
}
%ball{
  --size-ball:50px;
  background: var(--color-balls);
  border-radius:100%;
  width:var(--size-ball);
  height:var(--size-ball);
  margin-left:-20px;
  position:absolute;
  top:20px;
  color: var(--color-content-balls);
  text-align:center;
  line-height:var(--size-ball);
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
  @media(max-width:500px){
    --size-ball:60px;
  }
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
}
.hamburger{
  $width:25px;
  $height:3px;
  width:$width;
  height:$height;
  background:var(--color-content-balls);
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;

}
$hamburger-spacing:8px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg); 
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg); 
  }
}
#config{
  &.fond{
  @media(max-width: 500px){

    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0,0, 0,0.8);
  }
  }
}
#menu{
  margin: auto;
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
  @media(max-width:500px){
    top: 2em;
  }
  &.menu-check{
    bottom: 0;
    left: 0;
    
  }
  
}


.menu-item{
  &:hover{
    background:var(--color-content-balls);
    color: var(--color-balls);
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:180ms;
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

// .menu-open:checked~.menu-item{
//   transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
//   @for $i from 1 through $menu-items{

//     &:nth-child(#{$i+2}){
//       transition-duration:90ms+(100ms*$i);
//       transform:translate3d(-110px*$i,0,0);
//     }
//   }
// }
