  #boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (max-width: 350px) {
    #boxes {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  #boxes div {
    background-size: cover;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 10vw;
    height: 10vw;
    min-width: 5em;
    min-height: 5em;
    transition: .5s all ease;
    border: 0 solid transparent;
    box-sizing: border-box;
    border-radius: 50%;
    margin: .5em;
    opacity: .7;
    --dx: calc(var(--size) - var(--x));
    --dy: calc(var(--size) - var(--y));
    
  }
  
  // body:not([style]) #boxes div:first-child {
  //   --x: 84;
  //   --y: 75;
  //   --size: 128;
  // }
  
  // body:not([style]) #boxes div:first-child,
  #boxes div:hover {
    opacity: 1;
    cursor: pointer;
    border: calc(2px + .85vw) solid var(--color-fondo);
    transition:
      .5s background-color ease,
      .2s border ease;
  
    border-radius:
      calc(var(--x) / var(--size) * 100%) 
      calc(var(--dx) / var(--size) * 100%)
      calc(var(--dx) / var(--size) * 100%) 
      calc(var(--x) / var(--size) * 100%) / 
      calc(var(--y) / var(--size) * 100%) 
      calc(var(--y) / var(--size) * 100%) 
      calc(var(--dy) / var(--size) * 100%) 
      calc(var(--dy) / var(--size) * 100%) 
  }
  
  body:not([style]) #boxes div:first-child:after,
  #boxes div:after {
    content: attr(camp);
    color: var(--color-panel);
    font-size: calc(1vw + 1.2em);
    font-weight: 200;
    transition: all .2s ease;
    transition-delay: .1s;
    transform: translate3d(0, -.5em, 0);
  }
  
  body:not([style]) #boxes div:first-child:hover:after,
  #boxes div:hover:after {
    color: var(--color-text);
    transform: translate3d(0, 0, 0);
  }