.details.c-c-details-dark
        .header-details
          .title Hola, bienvenido a TNX App
          .desc We are planning to get together on friday night to have some fun, join if you are free!          
          .hosted-by
            span.tittle Titulo
              span.name Tim01
            img(src="https://s5.postimg.cc/lfc6se3hf/image.png", alt="")
          .hosted-by.float-right
            span.tittle Titulo
              span.name Tim01
            img(src="https://s5.postimg.cc/lfc6se3hf/image.png", alt="")
          .hosted-by
            span.tittle Titulo
              span.name Tim01
            img(src="https://s5.postimg.cc/lfc6se3hf/image.png", alt="")
          .body-details
            .user-status
              .title You Are
              .status
                ul.user-status.d-flex.clearfix
                  li.equalFlex.active going
                    <i class="fa fa-check"></i>
                  li.equalFlex Not going
                  li.equalFlex May BE
                .event-info.d-flex.equalHMWrap
                  
                  span.going-status
                    h2.center.white Usuarios
                    ul
                      li
                        img(src="https://s5.postimg.cc/vqojl1v6r/image.png", alt="")
                      li
                        img(src="https://s5.postimg.cc/h4xiwsyeb/image.png", alt="")
                      li
                        img(src="https://s5.postimg.cc/xjrg9dgdf/image.png", alt="")
                      li.li-more +50
                    span.desc
                      span.fuschia
                        div.count 3
                        a(href="#", class="btn-detail bubbly-button not-detail") Banners
                      span
                        div.count 15
                        a(href="#gallery", class="btn-detail bubbly-button not-detail") View Post
                  span.date-event
                    span.going-date
                      span.date.grid 
                        sup.item 25
                        span.item.btn-detail Friday
                        span.item.btn-detail August
                      span.desc
                        span.btn-detail Around 7:30 PM