.panel-themes
  h1.center Selección de temas
<div id="boxes" class=" dark-white">
  <div class="galaxy-icon" camp="galaxy" onClick="changeTheme('galaxy')"></div>
  <div class="shark-icon" camp="shark" onClick="changeTheme('shark')"></div>
  <div class="whale-icon" camp="whale" onClick="changeTheme('whale')"></div>
  <div class="samoyed-icon" camp="samoyed" onClick="changeTheme('samoyed')"></div>
  <div class="wolf-icon text-dark" camp="wolf" onClick="changeTheme('wolf')"></div>
  <div class="phoenix-icon" camp="phoenix" onClick="changeTheme('phoenix')"></div>
</div>
