h1.center.p-5 Imagenes de este mes
.gallery#gallery.c-c-white-opaque
script
    include ../../js/more/addImage.js
    
//- // .gallery-item
//- //         .header-gallery
//- //             span.more
//- //                 #.action.c-c-fuschia.btn-light
                    
//- //                     p 1230
//- //                 #add-collecion.action.btn-light
                    
//- //                     p Colección
    
//- //         .image
//- //             img(src=url+post[i], alt="gallery image "+i)
            
//- //         .profile_post_grid.white
//- //             .img-p-p
//- //                 a(href="#")
//- //                     .photo
//- //                         img(src=url+"profile/icon_profile.jpg", alt="")
//- //                         p #{users[i]}


