#config
    nav#menu.balls
        input(type="checkbox",class="menu-open",id="menu-open",name="menu-open")
        label(class="menu-open-button",for="menu-open")
            i.fas.fa-tools
            //- <span class="hamburger hamburger-1"></span>
            //- <span class="hamburger hamburger-2"></span>
            //- <span class="hamburger hamburger-3"></span>
        
        a(href="#",class="menu-item",onclick="modeDark();"): i.fas.fa-moon
        a(href="#",class="menu-item"): i.fas.fa-guitar
        a(href="#",class="menu-item"): i.fas.fa-guitar
        a(href="#",class="menu-item"): i.fas.fa-guitar
        //- a(href="#",class="menu-item"): i.fas.fa-guitar
        //- a(href="#",class="menu-item"): i.fas.fa-guitar

