// Typography
$font-family: 'sans-serif';

.samoyed-theme{
    --background-panel: url('../../img/background/bck-samoyed.jpg');
}
.shark-theme{
    --background-panel: url('../../img/background/aquarus.jpg');
}
.polar-theme{
    --background-panel: url('../../img/background/ .jpg');
}
.wolf-theme{
    --background-panel: url('../../img/background/bck-wolf.jpg');
}

.whale-theme{
    --background-panel: url('../../img/background/bck-medusa.jpg');
}
.galaxy-theme{
    --background-panel: url('../../img/background/bck-galaxy.jpg');
}
.phoenix-theme{
    --background-panel: url('../../img/background/bck-phoenix.jpg');
}